.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem; 
}



.card {
    display: flex;
    flex-direction: column;
    border: solid black;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 37.5rem; 
    height: auto;
    padding: 1rem;      
    box-sizing: border-box;
}

.formsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem; 
}

.formsTitle h2 {
    color: #616161;
}

.formsTitle a {
    color: #616161;
    text-decoration: none;
}

.formsTitle a:hover {
    color: #000000;
    cursor: pointer;
}





