.formsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem; 
}

.formsTitle h2 {
    color: #616161;
}

.formsTitle a {
    color: #616161;
    text-decoration: none;
}

.formsTitle a:hover {
    color: #000000;
    cursor: pointer;
}